p[id="yellowhite"] {
  font-size: 30px;
}

span[id="yellow"] {
  color: #ecb12f;
}

#welcome {
  font-size: 30px;
}

.white {
  color: white;
}

footer a {
  color: #454245;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  width: 100%;
}

.purple {
  background-color: #540b51;
}

.ivory {
  background-color: #f3eae2;
  display: flex;
}

body,
html {
  height: 100%;
}

/*Some necessary adjustments*/
h1,
body,
html {
  margin: 0;
  height: 100%;
}

header {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 200px;
}

#logo {
  max-width: 90px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /*width: 50%;*/
}

.menu {
  padding: 0 25px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid lightgray */
}

h1 {
  color: white;
  font-size: 40px;
}

.icones {
  max-height: 25px;
}

#faixa {
  display: flex;
  justify-content: space-evenly;
}

img {
  max-width: 80%;
}

.porcentagem {
  font-size: 25px;
  color: #540b51;
  padding: 20px;
}

.buttonsSignup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 80px;
}

.buttonsWelcome {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.hidden {
  display: none;
  background-color: #540b51;
  border: none;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

#search {
  background: #540b51;
  border: none;
}

.fakebutton {
  border: 1px solid;
  text-decoration: none;
  font-weight: bold;
  border: none;
  white-space: nowrap;
}

.tryfree {
  background: white;
  color: #540b51;
  padding: 0.475rem 1.05rem;
}

.talk {
  color: white;
  background: #540b51;
  padding: 0.475rem 1.05rem;
  border: 1px solid white;
}

.signupemail {
  background: white;
  color: #540b51;
  padding: 0.575rem 1.25rem;
  font-weight: bold;
}

.signupgoogle {
  background: rgb(59, 59, 249);
  color: white;
  padding: 0.575rem 1.25rem;
}

.google {
  background: white;
}

input[type="button"],
button {
  cursor: pointer;
}

#barradireita {
  display: flex;
  gap: 20px;
}

h3 {
  text-align: center;
}

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HQ {
  padding-bottom: 40px;
  padding-top: 25px;
}

#learn {
    color: blue;
}

#trusted {
    text-align: center;
}

/* Iteração 1 */
@media all and (max-width: 768px) {
  .hidden {
    display: inherit;
  }

  .ivory {
    flex-direction: column;
  }

  img {
    max-width: 50%;
  }

  .show {
    display: none;
  }

  .subfooter {
    flex-direction: column;
  }
}

/* Iteração 2 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .hidden {
    display: inherit;
  }

  .show {
    display: none;
  }

  .ivory {
    flex-direction: column;
  }

  img {
    max-width: 50%;
  }

  div {
    text-align: center;
  }

  .icones {
    text-align: left;
  }
}
git

/* Iteração 3 */
@media all and (min-width: 1025px) and (max-width: 1440px) {
  .buttonsWelcome {
    flex-direction: column;
  }

  .buttonsSignup {
    flex-direction: column;
  }
}

/* Iteração 4 */
@media all and (min-width: 1441px) {
  .buttonsWelcome {
    flex-direction: row;
  }

  .buttonsSignup {
    flex-direction: row;
  }

  .hero {
    justify-content: center;
  }
}
